{
  "root": true,
  "env": {
    "commonjs": true,
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "rules": {
    "curly": "warn",
    "eqeqeq": ["warn", "smart"],
    "no-else-return": "warn",
    "no-floating-decimal": "warn",
    "no-lonely-if": "warn",
    "no-mixed-operators": "warn",
    "no-useless-return": "warn",
    "no-var": "warn",
    "object-shorthand": ["warn", "always"],
    "prefer-const": "warn",
    "prefer-template": "warn",
    "eol-last": ["warn", "always"]
  }
}
